### Drosophila count data

Nuha BinTayyash, 2020

This notebook shows how to get count data for drosophila count data

In [1]:
import pandas as pd
import numpy as np

### Read bulk RNA-seq gene expression data

The gene expression data

In [2]:
counts = pd.read_csv('Exon_intron_counts_data_normalizedbylibrarydepthonly_20200120.csv',index_col=[0]) 
counts.head()

,E11_1_F,E12_1_F,E13A_1_F,E13B_1_F,E14A_1_F,E14B_1_F,E14C_1_F,E14D_1_F,E14E_1_F,ECF_1_F,...,I13A_3_F,I13B_3_F,I14A_3_F,I14B_3_F,I14C_3_F,I14D_3_F,I14E_3_F,ICF_3_F,exon_size,intron_size
FBgn,,,,,,,,,,,,,,,,,,,,,
FBgn0000003,2.676263,3.908700,6.301199,7.967251,6.860863,4.459238,8.090428,6.859697,6.348917,8.321737,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,299,0
FBgn0000008,74.124371,89.483591,80.731727,72.947861,56.507419,18.673060,5.378801,3.760299,7.191694,8.279062,...,0.000000,0.262640,0.105610,0.728633,0.398514,0.825598,9.275088,8.357019,5414,31853
FBgn0000014,0.000000,0.048058,0.305513,0.487294,0.378821,1.532863,5.556613,5.902530,22.361672,35.079323,...,0.398021,0.612827,0.457642,2.616453,7.641063,10.187563,15.051679,22.946866,5477,17668
FBgn0000015,0.000000,0.000000,0.000000,0.194917,0.042091,0.418054,0.533435,0.387425,5.674696,12.738659,...,0.022112,0.000000,0.140813,0.066239,0.225247,0.794443,1.247527,1.229795,11791,41324
FBgn0000017,188.960378,191.269974,211.605724,189.752151,229.144422,239.219548,253.292626,310.851394,130.349447,81.040919,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12819,19855

In [3]:
counts = counts.drop(['exon_size','intron_size'],axis = 1)

In [7]:
exons_counts = counts[list([col for col in counts if col.startswith('E')])]
exons_counts = exons_counts.astype('int')
exons_counts = exons_counts.loc[(exons_counts.sum(axis=1) >= 5)]
exons_counts.to_csv('exons_counts.csv')
introns_counts = counts[list([col for col in counts if col.startswith('I')])]
introns_counts = introns_counts.astype('int')
introns_counts = introns_counts.loc[(introns_counts.sum(axis=1) >= 5)]
introns_counts.to_csv('introns_counts.csv')

(8217, 30)
(1791, 30)

In [ ]:
times = [95.,105.,115.,125.,145.,160.,175.,190.,205.,220.] * 3
time_points = pd.DataFrame(data= times,index= exons_counts.columns,columns=['time'])
time_points.to_csv('time_points.csv')

In [ ]:
exons_counts.index.intersection(introns_counts.index)

In [ ]:
exons_counts.shape

In [ ]:
introns_counts.shape